


<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-reviews.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:34 GMT -->
<head>
    <meta charset="utf-8">
    <title>Update Product </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Template CSS -->
    <link href="/static/assets1/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>
    .existing-images .image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
  }
  
  
  .existing-images .existing-image {
    width: 90px; 
    height: 60px;
  }
  
  .existing-images .delete-image-btn {
   
    background-color: transparent;
    border: none;
    
    cursor: pointer;
    padding: 0;
  }
  
  </style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/static/assets1/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/category"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/bestselling"> <i class="icon material-icons md-store"></i>
                        <span class="text">Best Selling</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/customer"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customer</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/adminlogout"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/static/assets1/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/static/assets1/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/static/assets1/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/static/assets1/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/static/assets1/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
        </form>
    </div>
  </header>
  <section class="content-main">
    <form action="/productedit/<%= product._id %>" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Update Product</h2>
                    <% if (locals.alert) { %>
                    <div class="alert alert-danger text-center m-3" id="error">
                        <%= locals.alert %>
                    </div>
                    <% } %>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit">Update</button>
                    </div>
                    <span id="submit-error" style="font-size: 14px; margin-top: -20px" onclick="return validateForm()"></span>
                </div>
            </div>
        </div>
        <div id="error-messages" class="alert alert-danger text-center m-3" style="display: none;"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product Name</label>
                                    <input type="text" value="<%= product.productname %>" class="form-control" name="productname" id="product_name" onkeyup="validateName()">
                                    <span id="name-error" style="font-size: 14px; margin-top: -20px"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="product_description" onkeyup="validateDescription()"><%= product.description %></textarea>
                                    <span id="description-error" style="font-size: 14px; margin-top: -20px; color: red;"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Brand name</label>
                                    <select class="form-select" name="brand">
                                        <% brand.forEach(brand => { %>
                                        <option value="<%= brand._id %>">
                                            <%= brand.brand %>
                                        </option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input type="text" placeholder="Enter your stock" class="form-control" value="<%= product.stock %>" name="stock" id="product_stock" onkeyup="validateStock()">
                                    <span id="stock-error" style="font-size: 14px; margin-top: -20px"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Colour</label>
                                    <input type="text" placeholder="Enter product colour" value="<%= product.colour %>" class="form-control" name="colour" id="product_color" onkeyup="validateColor()">
                                    <span id="color-error" style="font-size: 14px; margin-top: -20px"></span>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Max Retail Price</label>
                                    <input type="text" placeholder="₹0.00" class="form-control" value="<%= product.oldprice %>" name="oldprice" id="product_price" onkeyup="validatePrice()">
                                    <span id="price-error" style="font-size: 14px; margin-top: -20px"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Offer Price</label>
                                    <input type="text" placeholder="₹0.00" class="form-control" value="<%= product.newprice %>" name="newprice" id="product_oldprice" onkeyup="validateOldPrice()">
                                    <span id="oldprice-error" style="font-size: 14px; margin-top: -20px"></span>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Category</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <div class="mb-4">
                                        <select class="form-select" name="category">
                                            <% category.forEach(category => { %>
                                            <option value="<%= category._id %>">
                                                <%= category.category %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Ram</label>
                                        <input type="text" placeholder="In GB" value="<%= product.ram %>" class="form-control" name="ram" id="product_ram">
                                        <span id="ram-error" style="font-size: 14px; margin-top: -20px"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Storage</label>
                                        <input type="text" placeholder="In GB" class="form-control" value="<%= product.storage %>" name="storage" id="product_storage" onkeyup="validateStorage()">
                                        <span id="storage-error" style="font-size: 14px; margin-top: -20px"></span>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Media</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Images</label><br>
                                    <div class="mb-4">
                                        <label class="form-label">Replace the Images ( minimum 3 Images )</label>
                                        <div class="existing-images">
                                            <% if (product.images && product.images.length > 0) { %>
                                            <div class="image-container">
                                                <% product.images.forEach((imageUrl, index) => { %>
                                                <div class="image-preview">
                                                    <img src="/static/<%= imageUrl %>" alt="Existing Image" class="existing-image">
                                                    <i class="fa-solid fa-repeat replace-image-icon" data-index="<%= index %>"></i>
                                                    <!-- <i class="fa-solid fa-trash delete-image-btn" data-index="<%= index %>"></i> -->
                                                </div>
                                                <% }) %>
                                            </div>
                                            <% } else { %>
                                            <p>No existing images</p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <!-- <label class="form-label">New Images</label> -->
                                        <input class="form-control" name="images" style="display: none;" type="file" id="product_image" multiple />
                                        <span id="image-error" style="font-size: 14px; margin-top: -20px"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</section> 

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/static/assets1/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/assets1/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/assets1/js/vendors/select2.min.js"></script>
    <script src="/static/assets1/js/vendors/perfect-scrollbar.js"></script>

    <!-- Main Script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets1/js/main.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script>
        // Handle replacement of images
        document.querySelectorAll('.replace-image-icon').forEach(icon => {
          icon.addEventListener('click', function () {
            const index = this.dataset.index;
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = 'image/*';
            fileInput.onchange = function (event) {
              const file = event.target.files[0];
              if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                  const imagePreview = document.querySelector(`.existing-images .image-container .image-preview:nth-child(${parseInt(index) + 1}) img`);
                  imagePreview.src = e.target.result;
                  updateFileInput(file, index);
                };
                reader.readAsDataURL(file);
              }
            };
            fileInput.click();
          });
        });

        function updateFileInput(file, index) {
          const fileInput = document.getElementById('product_image');
          const fileList = new DataTransfer();
          fileList.items.add(file);
          fileInput.files = fileList.files;
        }
    </script>
    <script>
   
        window.addEventListener('DOMContentLoaded', function () {
         const existingImages = document.querySelectorAll('.existing-images img');
         const fileInput = document.getElementById('product_image');
         const fileList = new DataTransfer();
     
         existingImages.forEach(function (image) {
             const url = image.getAttribute('src');
             const filename = url.substring(url.lastIndexOf('/') + 1);
             fetch(url)
                 .then(response => response.blob())
                 .then(blob => {
                     const file = new File([blob], filename, { type: blob.type });
                     fileList.items.add(file);
                     fileInput.files = fileList.files;
                 });
         });
     });
     
    //  document.querySelectorAll('.delete-image-btn').forEach(button => {
    //      button.addEventListener('click', function () {
    //          const index = this.dataset.index;
    //          const parentDiv = this.parentElement;
    //          parentDiv.remove(); 
    //          updateFileInput(); 
    //      });
    //  });
     
     function updateFileInput() {
         const fileInput = document.getElementById('product_image');
         const existingImages = document.querySelectorAll('.existing-images img');
         const fileList = new DataTransfer();
         
         existingImages.forEach(function (image) {
             const url = image.getAttribute('src');
             const filename = url.substring(url.lastIndexOf('/') + 1);
             fetch(url)
                 .then(response => response.blob())
                 .then(blob => {
                     const file = new File([blob], filename, { type: blob.type });
                     fileList.items.add(file);
                     fileInput.files = fileList.files;
                 });
         });
     
         
         if (existingImages.length === 0) {
             fileInput.value = ''; 
         }
     }
     
</script>
<script>
    var nameError = document.getElementById("name-error");
    var descriptionError = document.getElementById("description-error");
    var priceError = document.getElementById("price-error");
    var imageError = document.getElementById("image-error");
    var stockError = document.getElementById("stock-error");
    var submitError = document.getElementById("submit-error");
    var colorError = document.getElementById('color-error');
    var oldpriceError = document.getElementById('oldprice-error');
    var ramError = document.getElementById('ram-error');
    var storageError = document.getElementById('storage-error');

    function validateName() {
        var name = document.getElementById("product_name").value.trim();
        if (name.length === 0) {
            nameError.innerHTML = "Product name is required";
            nameError.style.color = "red";
            return false;
        }
        nameError.innerHTML = "Valid";
        nameError.style.color = "green";
        return true;
    }

    function validateColor() {
        var color = document.getElementById("product_color").value.trim();
        if (color.length === 0) {
            colorError.innerHTML = "Product color is required";
            colorError.style.color = "red";
            return false;
        }
        colorError.innerHTML = "Valid";
        colorError.style.color = "green";
        return true;
    }

    function validateDescription() {
        var desc = document.getElementById("product_description").value.trim();
        if (desc.length === 0) {
            descriptionError.innerHTML = "Description is required";
            descriptionError.style.color = "red";
            return false;
        }
        descriptionError.innerHTML = "Valid";
        descriptionError.style.color = "green";
        return true;
    }

    function validatePrice() {
        var price = document.getElementById("product_price").value.trim();
        if (price.length === 0 || isNaN(price) || parseFloat(price) <= 0) {
            priceError.innerHTML = "Price is required and must be a positive number";
            priceError.style.color = "red";
            return false;
        }
        priceError.innerHTML = "Valid";
        priceError.style.color = "green";
        return true;
    }

    function validateOldPrice() {
        var oldPrice = document.getElementById("product_oldprice").value.trim();
        if (oldPrice.length === 0 || isNaN(oldPrice) || parseFloat(oldPrice) <= 0) {
            oldpriceError.innerHTML = "Old Price is required and must be a positive number";
            oldpriceError.style.color = "red";
            return false;
        }
        oldpriceError.innerHTML = "Valid";
        oldpriceError.style.color = "green";
        return true;
    }

    function validateStock() {
        var stock = document.getElementById("product_stock").value.trim();
        if (stock.length === 0 || isNaN(stock) || parseInt(stock) < 0) {
            stockError.innerHTML = "Stock is required and must be a non-negative number";
            stockError.style.color = "red";
            return false;
        }
        stockError.innerHTML = "Valid";
        stockError.style.color = "green";
        return true;
    }

    function validateStorage() {
        var storage = document.getElementById("product_storage").value.trim();
        if (storage.length === 0 || isNaN(storage) || parseFloat(storage) <= 0) {
            storageError.innerHTML = "Storage is required and must be a positive number";
            storageError.style.color = "red";
            return false;
        }
        storageError.innerHTML = "Valid";
        storageError.style.color = "green";
        return true;
    }

    function validateForm() {
        if (
            !validateName() ||
            !validateDescription() ||
            !validatePrice() ||
            !validateOldPrice() ||
            !validateStock() ||
            !validateColor() ||
            !validateStorage()
        ) {
            submitError.style.display = "block";
            submitError.innerHTML = "Please enter all the fields correctly.";
            submitError.style.color = "red";
            setTimeout(function () {
                submitError.style.display = "none";
            }, 3000);
            return false;
        }
        return true;
    }
</script>
    

   
</body>


</html>