<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <title><%= locals.title|| 'Shop' %> </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" href="/static/logo/mainlogo.png">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<style>
    /* Dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    /* Dropdown button */
    .dropdown-button {
      background-color: grey;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 45px;
    }
  
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px;
    }
  
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  </style>

<body id="product-list">
    
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91)9562978458</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="#">KOCHI</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <% if(user){ %>
                                <li><i class="fi-rs-user"></i><a href="/logout">Logout</a></li>
                                <% }else{ %>
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/static/logo/mainlogo.png" alt="logo" style="min-width: 74px;"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/search">
                                <input type="text" placeholder="Search for items..." name="q" >
                            </form>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="/static/assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/static/assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/static/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Mobile Hub
                            </a>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home</i></a>
                                    <li><a   href="/shop">Shop</i></a></li>
                                    <li class="position-static"><a href="/profile">My Profile</i></a></li>
                                    <li><a href="/wallet">Wallet</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Contact</span> 1900 - 888 </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <a href="/login">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                  </svg>
                                <span class="pro-count white">4</span>
                            </a>
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                      </svg>
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/static/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span></i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropdown-button"><i class="fi-rs-apps-sort"></i> Sort by:</button>
                                        <div class="dropdown-content">
                                            <a href="?q=<%= text %>&sort=lowToHigh">Price: Low to High</a>
                                            <a href="?q=<%= text %>&sort=highToLow">Price: High to Low</a>
                                            <a href="?q=<%= text %>&sort=A-Z">aA - zZ</a>
                                            <a href="?q=<%= text %>&sort=Z-A">zZ - aA</a>
                                            <a href="?q=<%= text %>&sort=newarrivals">New Arrivals</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list mb-50" >
                                <% if(products.length > 0) { %>
                                <% products.forEach((row,index)=>{ %>
                                <div class="product-cart-wrap">
                                    <div id="popup-messages">
                                        <% if (typeof successMessage !== 'undefined') { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= successMessage %>
                                            </div>
                                        <% } %>
                                        
                                        <% if (typeof alertMessage !== 'undefined') { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= alertMessage %>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="<%= row._Id %>">
                                                <img class="default-img"  src="/static/<%= row.images[2] %>" alt="">
                                                <img class="hover-img"  src="/static/<%= row.images[1] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addtowishlist/:Id"><i class="fi-rs-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="/productdetials/<%= row._id %>"><%= row.productname%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span> ₹ <%= row.oldprice %></span>
                                            <span class="old-price"> ₹ <%= row.newprice %></span>
                                        </div>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Ram : <%= row.ram %>GB </li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Storage : <%= row.storage %>GB</li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Color: <%= row.colour %></li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Category: <%= row.category.category %></li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Brand: <%= row.brand.brand %></li>
                                        <% if(row.stock==0){ %>
                                        <div class="product_sort_info font-xs mb-30">
                                                <span class="mb-10 ml-20 text-danger text-center"><b>Out of Stock</b></span>
                                        </div>
                                        <% } else { %>
                                        <div class="product-action-1 show">
                                            <a aria-label="Now" class="action-btn addtocart" onclick="addcart('<%= row._id %>')"  ><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                    <% }) %>
                                <% } else { %>
                                    <span class="text-center">No Items Found</span>
                                    <% } %>
                            </div>
                            <!--pagination-->
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="main">
            <section class="newsletter p-30 text-white wow fadeIn animated" style="background-color: #39b4ac;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-md-3 mb-lg-0" style="background-color: #39b4ac;">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-about font-md mb-md-5 mb-lg-0">
                                <div class="logo logo-width-1 wow fadeIn animated">
                                    <a href="index.html"><img src="/static/logo/mainlogo.png" alt="logo"></a>
                                </div>
                                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                <p class="wow fadeIn animated">
                                    <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                                </p>
                                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                    <a href="#"><img src="/static/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="/static/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="/static/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="/static/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    <a href="#"><img src="/static/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <h5 class="widget-title wow fadeIn animated">About</h5>
                            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-3">
                            <h5 class="widget-title wow fadeIn animated">My Account</h5>
                            <ul class="footer-list wow fadeIn animated">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Order</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="widget-title wow fadeIn animated">Install App</h5>
                            <div class="row">
                                <div class="col-md-8 col-lg-12">
                                    <p class="wow fadeIn animated">From App Store or Google Play</p>
                                    <div class="download-app wow fadeIn animated">
                                        <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/static/assets/imgs/theme/app-store.jpg" alt=""></a>
                                        <a href="#" class="hover-up"><img src="/static/assets/imgs/theme/google-play.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                    <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                    <img class="wow fadeIn animated" src="/static/assets/imgs/theme/payment-method.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    <!-- Vendor JS-->
    <script src="/static/assets/js/vendor/modernizr-3.6.0.min.js' "></script>
    <script src="/static/assets/js/vendor/jquery-3.6.0.min.js' "></script>
    <script src="/static/assets/js/vendor/jquery-migrate-3.3.0.min.js'"></script>
    <script src="/static/assets/js/vendor/bootstrap.bundle.min.js'"></script>
    <script src="/static/assets/js/plugins/slick.js'"></script>
    <script src="/static/assets/js/plugins/jquery.syotimer.min.js'"></script>
    <script src="/static/assets/js/plugins/wow.js'"></script>
    <script src="/static/assets/js/plugins/jquery-ui.js'"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.js'"></script>
    <script src="/static/assets/js/plugins/magnific-popup.js'"></script>
    <script src="/static/assets/js/plugins/select2.min.js'"></script>
    <script src="/static/assets/js/plugins/waypoints.js'"></script>
    <script src="/static/assets/js/plugins/counterup.js'"></script>
    <!-- <script src="/static/assets/js/plugins/jquery.countdown.min.js'"></script> -->
    <script src="/static/assets/js/plugins/images-loaded.js'"></script>
    <script src="/static/assets/js/plugins/isotope.js'"></script>
    <script src="/static/assets/js/plugins/scrollup.js'"></script>
    <script src="/static/assets/js/plugins/jquery.vticker-min.js'"></script>
    <script src="/static/assets/js/plugins/jquery.theia.sticky.js'"></script>
    <script src="/static/assets/js/plugins/jquery.elevatezoom.js' "></script>
    <!-- Template  JS -->
    <script src="/static/assets/js/main.js'"></script>
    <script src="/static/assets/js/shop.js'"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 

      <script>
            function addcart(_id) {
            event.preventDefault();
            $.ajax({
                url: `/check-stock/${_id}`,
                type: "GET",
                success: function(response) {
                    console.log("Check stock response:", response);
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Added to cart successfully!",
                            showConfirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: `/addtocart/${_id}`,
                                    type: "GET",
                                    success: function(response) {
                                        console.log("Item added to cart:", response);
                                    },
                                    error: function() {
                                        console.error("Failed to add item to cart");
                                    },
                                });
                            }
                        });
                    } else {
                        if (response.message === "Please log in to add items to your cart.") {
                            Swal.fire({
                                icon: "error",
                                title: "Login Required",
                                text: "Please login to add items to your cart.",
                                showConfirmButton: true,
                            })
                        } else {
                            console.error("Error:", response.message);
                            Swal.fire({
                                icon: "error",
                                title: "Product is out of stock",
                                showConfirmButton: true,
                            });
                        }
                    }
                },
                error: function(err) {
                    console.log('error');
                    Swal.fire({
                        icon: "error",
                        title: "Error occurred",
                        text: "Failed to check stock availability",
                        showConfirmButton: true,
                    });
                },
            });
        }
     </script>


</body>


</html>